body{
    background-color: #2A2828FF;
    font-family: Arial, "Times New Roman", "Georgia";
    font-size: 16px;
    color: #FFFFFF;
}

h1{
    color: #00FF8F;
}

.link{
    color: #FF00007C;
    text-decoration: none;
}

.link:hover{
    text-decoration: underline;
}

.notes{
    font-size: 0.75em;
}

.heading>p {
    color: #00FF8F;
    font-size: 1.5em;
    font-weight: bold;
}