body{
    font-family: Georgia, "Times New Roman", Georgia, Serif;
    font-size: 16px;
    color:#FFF;
}

a{
    color: #FFEA00D8;
    text-decoration: none;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
}
header {
    background-image: url("../images/header-background.png");
    background-position: center;
    border: 1px solid green;
    border-image: url("../images/header-background.png");
    height:300px;
}
header > h1, h2{
    text-align: center;
    font-size: 3em;
    color: #101010;
}

#main-container{
    background: #2A2828FF;
    padding: 10px;
}

@media(min-width:768px){
    #zen-supporting{
        display: flex;
        flex-direction: column ;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
}

#zen-supporting > div {
    flex: 1;
}

#zen-supporting > div h3{
    color: #00FF8F;
    text-align: left;
    font-size: 1.5em;
}

#container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom:4em;
}

#footer .icons{
    padding: 20px;
    margin: 10px;
    flex: 1;
    text-align: center;
    border: 1px solid black;
    background-color: #555753;
    border-radius: 10px;
}

.navigation{
    display: flex;
    flex-direction: column;
}

.navigation ul li {
    flex: 1;
    margin: auto;
}

.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.wrapper  h3 {
    font-size: 1.5em;
    color:  #00FF8F;
}

.wrapper .design-selection{
    flex:1;
}

.wrapper .design-selection .navigation ul li a {
    text-decoration: none;
}

.wrapper .design-selection .navigation ul li a:hover {
    text-decoration: underline;
}

.wrapper .design-archives{
    flex:1;
}

.wrapper .design-archives .archives ul li a {
    text-decoration: none;
}

.wrapper .design-archives .archives ul li a:hover {
    text-decoration: underline;
}

.wrapper .zen-resources{
    flex: 1;
}

.wrapper .zen-resources ul li a {
    text-decoration: none;
}

.wrapper .zen-resources ul li a:hover {
    text-decoration: underline;
}

.punchline{
    text-align: center;
    font-size: 3em;
    font-style: italic;
    font-family: Georgia, "Times New Roman", Serif, Arial;
    padding: 2em;
}

